#box {
    /* border: 2px  solid red; */
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    height: 2rem;
    font-size: 1rem;
}

#images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
#images img{
    max-width: 500px;
    max-height: 500px;
}